<div class="row">
  <aside class="col-md-4">
    <section>
      <p>Form za unos klijenta</p>
    </section>
  </aside>

  <div class="col-md-8">
    <ul class="clients">
      <%# @users.each do |user| %>
        <%#= render user %>
      <%# end %>
      <%= render @clients %>
    </ul>
  </div>
</div>