<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <%= will_paginate %>
  </div>
</div>

<div class="row">
  <aside class="col-md-4">
    <section>
      <p>Form za unos klijenta</p>
    </section>
  </aside>

  <div class="col-md-8">
    <ul class="clients">
      <%= render @clients %>
    </ul>
    <%= will_paginate %>
  </div>
</div>