ul.clients {
  list-style: none;
  padding-left: 0;
  li {
    border: 1px solid #7F055F;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: #f5b5da;
    }
    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: black;
      width: 100%;
    }
    .client-controls {
      display: inline;
    }
    .client-list-item {
      display: flex;
      justify-content: flex-start;
      .client-num {
        margin-right: 10px;
      }
    }
  }
}

.client {
  display: flex;
  flex-direction: column;
  background: #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  h3 {
    font-size: 1em;
    font-weight: 600;
    margin: 10px 0px 0px;
  }
  p {
    color: #555;
  }
}

/* search */

#query {
  background-color: #FFE8D4;
}