ul.clients {
  list-style: none;
  padding-left: 0;
  li {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: black;
      width: 100%;
      &:hover {
          color: #555;
        }
    }
    .client_info {
      display: flex;
      justify-content: flex-start;
      .client_num {
        margin-right: 10px;
      }
    }
  }
}