ol.treatments {
  list-style: none;
  padding-left: 0;

  li {
    border: 1px solid #7F055F;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    a {
      color: black;
    }
    .treatment-date {
      font-weight: 600;
    }
  }
  .treatment-controls {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    font-weight: 600;
    a:first-child {
      margin-right: 10px;
    }
    a:last-child {
      color: #b62d0e;
    }
  }
}